:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.text {
  width: 100%;
  height: 100%;
  margin-top: 3px;
}
.popup {
  position: absolute;
  z-index: 9;
  background-color: var(--bg-color);
  width: 250px;
  height: 30px;
  top: 30px;
  right: 30px;
  text-align: center;
  line-height: 2;
  transition: 1s;
  border-radius: 10px;
  box-shadow: 2px 3px snow;
  color: white;
  border: solid white 1px;
  .blue {
    color: #ea1fff;
  }
}
