<div class="main">
  <div class="links">
    <app-header-links (logout)="logout()"></app-header-links>
  </div>
  <div class="user">
    <img *ngIf="currentUser?.photoURL" src="{{currentUser.photoURL}}" width="auto" height="50" />
    <div class="username">{{currentUser?.displayName}}</div>
  </div>
  <div class="header">
    <app-header [path]="currentFolderPath" (onSelectFolderFromPath)="selectFolderFromPath($event)"></app-header>
  </div>
  <div class="sidebar">
    <app-sidebar [bookmarks]="bookmarks" (open)="openBookmark($event)" (removeBookmark)="removeBookmark($event)"></app-sidebar>
  </div>
  <div class="folders" (contextmenu)="onRightClick($event)" (click)="hide()" (blur)="hide()" tabindex="1">
    <app-all-folders *ngIf="rootFolder" [folder]="rootFolder" (onSelectFolder)="setCurrentFolderPath($event)"></app-all-folders>
  </div>
  <div class="footer"></div>
</div>