:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c2022;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.section {
  padding: 1px;
  text-align: center;
  .icon {
    height: 35px;
    width: 35px;
    margin: 5px auto;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    :hover {
      transform: scale(1.1, 1.1);
      font-weight: bolder;
    }
    :first-child {
      margin-top: 2px;
    }
  }
}
