:host {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px 10px;
    font-size: 14px;
    color: var(--text-color);
    justify-content: flex-start; // space-between;
  }
}
