.loader {
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item {
  width: 60px;
  height: 60px;
  position: absolute;
}

.item-1 {
  background-color: #fa5667;
  top: 0;
  left: 0;
  z-index: 100;
  animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

.item-2 {
  background-color: #7a45e5;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

.item-3 {
  background-color: #1b91f7;
  bottom: 0;
  right: 0;
  z-index: 100;
  animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

.item-4 {
  background-color: #fac24c;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}

@keyframes item-1_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 60px);
  }
  50% {
    transform: translate(60px, 60px);
  }
  75% {
    transform: translate(60px, 0);
  }
}

@keyframes item-2_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-60px, 0);
  }
  50% {
    transform: translate(-60px, 60px);
  }
  75% {
    transform: translate(0, 60px);
  }
}

@keyframes item-3_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -60px);
  }
  50% {
    transform: translate(-60px, -60px);
  }
  75% {
    transform: translate(-60px, 0);
  }
}

@keyframes item-4_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(60px, 0);
  }
  50% {
    transform: translate(60px, -60px);
  }
  75% {
    transform: translate(0, -60px);
  }
}
