:host {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #3472b6;
}
.wrapper {
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: #3472b6;

  .section {
    color: white;
    text-align: center;
    display: flex;
    height: 50px;
    flex-direction: row;
  }
}

.toolbar-menu {
  padding: 0px 16px;
  border: 0px;
  font-size: 13px;
  border-right: solid 1px black;
  // box-shadow: 3px 2px 7px 0px rgba(255, 250, 250, 0.5);
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toolbar-menu:hover {
  transform: scale(1.05, 1.05);
}
