:host {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.header {
  line-height: 1.5;
  height: 20px;
  padding: 1px 0px;
  padding-left: 8px;
  font-size: 12px;
  color: var(--text-color);
  width: 100%;
  a {
    text-transform: uppercase;
  }
}

