<div class="wrapper">
  <div class="section-head">
    <a (click)="open()">My Computer</a>
  </div>
  <hr>
  <div class="section-body">
    <a (click)="open()">Home</a>
    <a (click)="open()">Desktop</a>
    <a (click)="open()">Music</a>
    <a (click)="open()">Pictures</a>
    <a (click)="open()">Videos</a>
    <a (click)="open()">Downloads</a>
  </div>
  <hr>
  <div class="section-head">
    <a (click)="open()">My Bookmarks</a>
  </div>
  <hr>
  <div class="section-body">
    <a (click)="open()">Projects</a>
    <a (click)="open()">Multimedia</a>
    <a (click)="open()">Personals</a>
  </div>
</div>