<div class="wrapper">
  <div class="section-head">
    <a (click)="open.emit()">My Computer</a>
  </div>
  <hr>
  <div class="section-body">
    <a (click)="open.emit()">Home</a>
    <a (click)="open.emit()">Desktop</a>
    <a (click)="open.emit()">Music</a>
    <a (click)="open.emit()">Pictures</a>
    <a (click)="open.emit()">Videos</a>
    <a (click)="open.emit()">Downloads</a>
  </div>
  <hr>
  <div class="section-head">
    <a (click)="do()">My Bookmarks</a>
  </div>
  <hr>
  <div class="section-body">
    <div *ngFor="let bookmark of bookmarks" class="bookmark">
      <a (click)="open.emit(bookmark)">{{bookmark.name}}</a>
      <a (click)="removeBookmark.emit(bookmark)">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</div>