<div (blur)="hide()" tabindex="1" *ngIf="folder.id!==0">
  <a class="section" (dblclick)="open()" (contextmenu)="onRightClick($event)">
    <span>
      <!-- <i class="fas fa-4x {{folder.type==='FOLDER' ? 'fa-folder' : 'fa-file'}}"></i> -->
      <img width="56px" src="/assets/images/{{folder.type==='FOLDER' ? 'folder' : 'file'}}.png" />
    </span>
    <p *ngIf="!showInput" class="folder-name">{{folder.name}}</p>
    <form *ngIf="showInput" #fileForm="ngForm" (ngSubmit)="onSubmit(fileForm)">
      <input type="text" #textInput class="rename" ngModel [(ngModel)]="fileName" name="fileName" (focusout)="onSubmit(fileForm)"
        autofocus/>
    </form>
  </a>
  <div class="popover__wrapper" [ngStyle]="{'top' :popoverPosition.top , 'left' : popoverPosition.left }">
    <div class="push popover__content {{showPopover ? 'show' : ''}}">
      <a (click)="open()" class="link">Open</a>
      <a (click)="toggleInput()" class="link">Rename</a>
      <a (click)="openInEditor.emit(folder)" class="link">Open in Editor</a>
      <a *ngIf="folder.type==='FOLDER'" (click)="addBookmark()" class="link">Add to Bookmark</a>
      <a (click)="delete()" class="link">Delete</a>
    </div>
  </div>
</div>
<div *ngIf="folder.id===0">
  <a class="section">
    <span>
      <!-- <i class="fas fa-4x {{folder.type==='FOLDER' ? 'fa-folder' : 'fa-file'}}"></i> -->
      <img width="56px" src="/assets/images/{{folder.type==='FOLDER' ? 'folder' : 'file'}}.png" />
    </span>
    <form #newFileForm="ngForm" (ngSubmit)="onSubmit(newFileForm)">
      <input type="text" #textInput class="rename" ngModel name="fileName" (focusout)="onSubmit(newFileForm)" autofocus/>
    </form>
  </a>
</div>