:host {
  a {
    text-decoration: none;
  }
  .section {
    color: white;
    text-align: center;
    margin-top: 2px;
    min-width: 125px;
    min-height: 100px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    img {
      width: 56px;
    }
    .folder-name {
      word-wrap: break-word;
      width: 125px;
      overflow: hidden;
      line-height: 1.4;
      white-space: pre-wrap;
    }
  }
  :hover {
    .section {
      border-radius: 7px;
      background-color: #2d2d2d;
    }
  }

  /* Popover styling */
  .popover__wrapper {
    position: absolute;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 1rem 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    display: flex;
    flex-direction: column;
    color: white;
    .link {
      padding: 6px 20px;
      cursor: pointer;
      font-size: 12px;
    }
    .link:hover {
      background-color: #165e80;
      // border-top: solid 1px white;
      // border-bottom: solid 1px white;
    }
  }

  .show {
    z-index: 10;
    width: 200px;
    background-color: black;
    opacity: 1;
    visibility: visible;
    // transform: translate(0, -20px);
    // transition: all 0.1s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }
}
