body {
  margin: 0;
  font-family: 'sans-serif';
  background-color: black;
}

.b-0 {
  border: 0;
}

.pointer {
  cursor: pointer;
}

.main {
  height: calc(100vh - 2px);
  display: grid;
  grid-template-rows: 25px 1fr 20px;
  grid-template-columns: 50px 200px 1fr;
}

/* toolbar : file related options*/

.toolbar {
  display: flex;
  flex-direction: row;
  grid-row: 1;
  grid-column: 1/4;
  background-color: #222224;
  color: white;
}

.toolbar .toolbar-menu {
  padding: 2px 10px;
  border: 0px;
  font-size: 13px;
  cursor: pointer;
}

.toolbar .toolbar-menu:hover {
  transform: scale(1.2, 1.2);
}

/* toolbar menus: first left sidebar*/

.menus {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1;
  justify-content: space-between;
  background-color: #222224;
  color: white;
}

.section {
  padding: 1px;
  text-align: center;
}

.icon {
  height: 35px;
  width: 35px;
  margin: 5px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  /* border: 1px solid white; */
}

.icon:hover {
  transform: scale(1.1, 1.1);
  font-weight: bolder;
}

.section :first-child {
  margin-top: 2px;
}

/* directory : second left sidebar*/

.directory {
  grid-row: 2;
  grid-column: 2;
  background-color: #242527;
  color: white;
}

.directory .header {
  line-height: 1.5;
  height: 20px;
  padding: 1px 21px;
  font-size: 12px;
}

/* editor : text editor */

.editor {
  display: flex;
  flex-direction: row;
  grid-row: 2;
  grid-column: 3;
  display: flex;
  flex-direction: row;
}

.lines {
  width: 60px;
  background-color: #252526;
  color: yellow;
}

.lines ul {
  margin: 0px;
  padding: 2px 12px;
}

.lines ul li {
  list-style: none;
  text-align: right;
  margin: 4px 0px;
}

.text {
  width: 100%;
}

/* .ace_content {
    background-color: #292a2c !important;
}

.ace_layer {
    background-color: #252526;
    color: yellow;
} */

.text textarea {
  border: 0px;
  width: calc(100% - 2px);
  height: calc(100% - 3px);
  color: #0acea9;
  background-color: #292a2c;
  letter-spacing: 2px;
  line-height: 22px;
  padding: 5px 10px;
}

textarea:focus {
  outline-width: 0;
}

.layout {
  width: 130px;
  font-size: 2px;
  line-height: 6px;
  padding: 4px 8px;
  border-right: 0px;
  background-color: #252526;
  color: white;
}

.layout pre {
  white-space: pre;
  color: #0acea9;
}

.layout div {
  border: 0;
}

/* footer */

.footer {
  grid-row: 3;
  grid-column: 1/4;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  padding: 4px 10px;
  font-size: 14px;
  color: white;
}

.footer i {
  padding: 2px 7px;
  font-size: 11px;
}
