body {
  margin: 0;
  font-family: 'sans-serif';
  background-color: #1c2022;
}

.b-0 {
  border: 0;
}

.pointer {
  cursor: pointer;
}
.ace_content {
  background-color: #1c2022;
}
.ace_gutter {
  background-color: #1c2022 !important;
}
