body {
  margin: 0;
  font-family: 'sans-serif';
  background-color: #1c2022;
}

.b-0 {
  border: 0;
}

.pointer {
  cursor: pointer;
}
.ace_content {
  background-color: #1c2022;
}
.ace_gutter {
  background-color: #1c2022 !important;
}
.ace_completion-highlight {
  color: #ff79c6 !important;
}
.ace_line {
  color: white !important;
}
.ace_line .ace_selected {
  background-color: #24282a !important;
}
.ace_active-line {
  background: #24282a !important;
}
.ace_gutter-active-line {
  background: #24282a !important;
}
