:host {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main {
  height: calc(100vh - 9px);
  display: grid;
  grid-template-rows: 35px 20px 1fr 20px;
  grid-template-columns: 50px 200px 1fr;
}
.main-full {
  grid-template-columns: 50px 0px 1fr;
  .editor {
    border-left: none;
  }
}
.toolbar {
  grid-row: 1;
  grid-column: 1/4;
  border-bottom: solid var(--border-color) 1px;
}
.menus {
  grid-row: 2/4;
  grid-column: 1;
  border-right: solid var(--border-color) 1px;
}
.explorer {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.4;
  grid-row: 2;
  grid-column: 2;
  color: var(--text-color);
  font-size: 13px;
  padding: 0px 10px;
  border-bottom: solid 1px var(--border-color);
  border-right: solid 1px var(--border-color);
}
.files {
  background-color: var(--bg-color);
  color: var(--text-color);
  grid-row: 2;
  grid-column: 3;
  height: 19px;
  line-height: 1.4;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px var(--border-color);
  a {
    color: var(--text-color);
    width: 111px;
    overflow: hidden;
    border-right: solid 1px var(--border-color);
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 13px;
    span {
      cursor: pointer;
    }
  }
  a.active {
    color: var(--active-text-color);
    background-color: var(--active-bg-color);
  }
}
/* directory : second left sidebar*/

.directory {
  grid-row: 3;
  grid-column: 2;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(36, 40, 42, 0.3);
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: var(--secondary-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);

    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, rgba(255, 255, 255, 0.2)),
      color-stop(0.5, transparent),
      to(transparent)
    );
  }
}

/* editor : text editor */

.editor {
  grid-row: 3;
  grid-column: 3;
  border-left: solid var(--border-color) 1px;
}

/* footer */

.footer {
  grid-row: 4;
  border-top: solid var(--border-color) 1px;
  grid-column: 1/4;
}
@media only screen and (max-width: 800px) {
  .main {
    height: calc(100vh - 9px);
    display: grid;
    grid-template-rows: 35px 1fr 20px;
    grid-template-columns: 50px 120px 1fr;
  }
  .main-full {
    grid-template-columns: 50px 0px 1fr;
    .editor {
      border-left: none;
    }
  }
}
